<ion-card>
  <ion-card-header>
    <ion-item>
      <img alt="" [(src)]="imgSrc" (click)="inputSelection()">
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="registerUser()">
      
      <ion-item>
        <ion-label position="floating">Username</ion-label>     
        <ion-input [placeholder]="namePH" type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item> 
        <ion-label position="floating">Email</ion-label>
        <ion-input [placeholder]="emailPH" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Age</ion-label>
        <ion-range min="12" max="120" formControlName="age" [(ngModel)]="value"></ion-range>
        <ion-label>{{value}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Pick a gender" formControlName="gender">
          <ion-select-option value="m">Man</ion-select-option>
          <ion-select-option value="f">Woman</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Avatar</ion-label>
        <input id="imgInput" formControlName="avatar" hidden="true" type="file" (change)="fileInputEvent($event)">
        <ion-button (click)="inputSelection()">Change avatar</ion-button>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!form.valid">Register</ion-button>
    </form>

  </ion-card-content>
</ion-card>